main {
    position: relative;
    padding: 1rem;
}

main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../image/rave-back2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    filter: blur(8px);
    z-index: -1;
}

.general {
    display: flex;
    gap: 2rem;
}

.photos {
    width: 400px;
}

.photos .image {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    cursor: pointer;
}

.photos img {
    max-width: 100%;
    max-height: 100%;
}

.photos .current {
    width: 100%;
    height: 30rem;
    box-shadow: 0 0 5px 1px #ffffff;
    margin-bottom: 1rem;
}

.photos .preview {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 80px;
    grid-gap: 5px;
}

.photos .image:hover,
.photos .image.active {
    box-shadow: 0 0 5px 1px #ffffff;
}

.info .price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info {
    color: white;
}

.info .price p {
    color: #ffffff;
    font-weight: bold;
    font-size: 1.5rem;
    margin-right: 2rem;
}

.info ul li {
    margin-bottom: 1rem;
}

.detail {
    margin-top: 2rem;
    color: white;
}


.detail .tab_names {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.detail .tab_name {
    padding-bottom: .5rem;
    border-bottom: 3px solid transparent;
    cursor: pointer;
}

.detail .tab_name.active {
    border-bottom-color: #ffffff;
}

.detail .tabs .tab {
    display: none;
}

.detail .tabs .tab.active {
    display: block;
}

.detail .table {
    display: grid;
    grid-template-columns: 8ch auto;
    grid-gap: 1rem;
    justify-content: center;
}

.detail .tabs h2 {
    display: grid;
    place-items: center;
}

.detail .tabs .Desc {
    font-size: 1.5rem;
    width: 50%;
    padding-left: 25%;
}

.detail .table p {
    padding: .25rem;
    margin: 0 0 1rem 0;
}

.reviews form label {
    display: block;
    margin: 1rem 0;
}

.reviews form select {
    padding: .5rem;
    font-size: 1rem;
}

.reviews .review {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    border-bottom: 1px solid #ccc;
}

.reviews .review:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

.reviews form textarea{
    margin-bottom: 2rem;
}

.reviews .review .score {
    background: #510000;
    width: 4rem;
    height: 4rem;
    color: #fff;
    font-size: 2rem;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reviews .review .name {
    font-weight: bold;
}

.reviews .review .date {
    position: absolute;
    top: .5rem;
    right: .5rem;
}

@media screen and (max-width: 600px) {
    .general {
        display: block;
    }

    .photos {
        width: 100%;
    }

    .detail .tabs .tab iframe{
       max-width: 100%;
    }

    .reviews .review .score {
flex-shrink: 0;
    }

}