main{
    padding: 1rem;
}
.goods .good{
    display: flex;
    gap:1rem;
}
.goods .good .image{
    width: 200px;
    height: 200px;
    display: flex;
}

.goods .good .image img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}
